<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
    	<input type="search" ng-model="search" class="form-control" placeholder="Artist Name">
      <span class="input-group-btn">
        <button ng-click='searchSongs()' type="button" class="btn btn-default">Search</button>
      </span>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-6">
		<ul ng-repeat="song in songs" class="media-list">
			<li class="media">
			    <a class="pull-left" href="#">
			      <img class="media-object img-circle" ng-src="{{song.artworkUrl60}}">
			    </a>
			    <div class="media-body">
			      <h4 class="media-heading">{{song.trackName}}</h4>
			      <a href="#/view/{{$index}}">{{song.collectionName}}</a>
			    </div>
			</li>
		</ul>
	</div>
</div>